body {
  background-color:rgb(204, 230, 255);
}
h1 {
  text-align:center;
  color:rgb(0, 66, 128);
  border:1px solid black;
  background-color:rgb(230, 243, 255);
  padding: 10px;
}
#paragraph {
  color:rgb(0, 66, 128);
  font-style:italic;
  font-size:150%;
}
button {
  background-color:rgb(230, 243, 255)
}